@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:600,500,400,200");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
a {
  text-decoration: none;
}

.loginpage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.loginpage .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 2175px;
  position: relative;
}

.loginpage .overlap-group {
  position: absolute;
  width: 1442px;
  height: 89px;
  top: -1px;
  left: -1px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #00000026;
}

.loginpage .airbnb-logo {
  position: absolute;
  width: 123px;
  height: 38px;
  top: 26px;
  left: 65px;
  object-fit: cover;
}

.loginpage .text-wrapper {
  position: absolute;
  top: 35px;
  left: 1081px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.loginpage .element-globo-logo {
  height: 17px;
  top: 36px;
  left: 1222px;
  position: absolute;
  width: 17px;
  object-fit: cover;
}

.loginpage .overlap {
  position: absolute;
  width: 82px;
  height: 43px;
  top: 24px;
  left: 1260px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #00000038;
}
.loginpage .line41 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 16px;
  object-fit: cover;
}
.loginpage .overlap-2 {
  position: absolute;
  width: 34px;
  height: 32px;
  top: 6px;
  left: 41px;
  border-radius: 17px/16px;
}

.loginpage .text-wrapper-2 {
  position: absolute;
  width: 7px;
  top: 9px;
  left: 13px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 10px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.loginpage .ellipse {
  position: absolute;
  width: 34px;
  height: 32px;
  top: 0;
  left: 0;
  background-color: #000000;
  border-radius: 17px/16px;
}

.loginpage .overlap-3 {
  position: absolute;
  width: 772px;
  height: 1250px;
  top: 265px;
  left: 320px;
  border-radius: 15px;
}

.loginpage .we-ll-call-or-text {
  position: absolute;
  top: 452px;
  left: 56px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0.24px;
  line-height: normal;
}

.loginpage .span {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0.24px;
}

.loginpage .text-wrapper-3 {
  text-decoration: underline;
}

.loginpage .text-wrapper-4 {
  position: absolute;
  top: 197px;
  left: 68px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 25px;
  text-align: right;
  letter-spacing: 0.5px;
  line-height: normal;
  white-space: nowrap;
}

.loginpage .rectangle {
  position: absolute;
  width: 772px;
  height: 1250px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid;
  border-color: #0000004c;
}

.loginpage .line-3 {
  position: absolute;
  width: 772px;
  height: 6px;
  top: 140px;
  left: 0;
  object-fit: cover;
}

.loginpage .group {
  position: absolute;
  width: 660px;
  height: 180px;
  top: 255px;
  left: 56px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #00000033;
}

.loginpage .line-4 {
  position: absolute;
  width: 660px;
  height: 1px;
  top: 88px;
  left: -1px;
  object-fit: cover;
}

.loginpage .country-region {
  position: absolute;
  width: 197px;
  top: 245px;
  left: 35px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0.4px;
  line-height: normal;
}

.loginpage .text-wrapper-5 {
  position: absolute;
  top: 314px;
  left: 84px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0.4px;
  line-height: normal;
  white-space: nowrap;
}

.loginpage .text-wrapper-6 {
  position: absolute;
  top: 383px;
  left: 84px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0.4px;
  line-height: normal;
  white-space: nowrap;
}

.loginpage .rectangle-2 {
  position: absolute;
  width: 660px;
  height: 80px;
  top: 776px;
  left: 58px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.loginpage .text-wrapper-7 {
  top: 800px;
  left: 261px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
}

.loginpage .rectangle-3 {
  position: absolute;
  width: 660px;
  height: 80px;
  top: 891px;
  left: 58px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.loginpage .text-wrapper-8 {
  top: 915px;
  left: 269px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
}

.loginpage .rectangle-4 {
  position: absolute;
  width: 660px;
  height: 80px;
  top: 1006px;
  left: 58px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.loginpage .text-wrapper-9 {
  width: 233px;
  top: 1029px;
  left: 271px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
}

.loginpage .rectangle-5 {
  position: absolute;
  width: 660px;
  height: 90px;
  top: 501px;
  left: 56px;
  background-color: #ff385c;
  border-radius: 20px;
}

.loginpage .text-wrapper-10 {
  position: absolute;
  top: 530px;
  left: 331px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
}

.loginpage .line-5 {
  position: absolute;
  width: 318px;
  height: 1px;
  top: 642px;
  left: 56px;
  object-fit: cover;
}

.loginpage .text-wrapper-11 {
  position: absolute;
  top: 625px;
  left: 388px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
}

.loginpage .line-6 {
  position: absolute;
  width: 318px;
  height: 1px;
  top: 640px;
  left: 422px;
  object-fit: cover;
}

.loginpage .rectangle-6 {
  position: absolute;
  width: 660px;
  height: 80px;
  top: 661px;
  left: 58px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.loginpage .text-wrapper-12 {
  top: 686px;
  left: 245px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
}

.loginpage .text-wrapper-13 {
  position: absolute;
  top: 1155px;
  left: 319px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
}

.loginpage .p {
  position: absolute;
  top: 56px;
  left: 286px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 25px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.loginpage .overlap-4 {
  position: absolute;
  width: 1440px;
  height: 549px;
  top: 1559px;
  left: 0;
  background-color: #d9d9d94c;
}

.loginpage .text-wrapper-14 {
  width: 95px;
  top: 66px;
  left: 528px;
  color: #000000;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
}

.loginpage .text-wrapper-15 {
  position: absolute;
  width: 210px;
  top: 124px;
  left: 528px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000b2;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.loginpage .text-wrapper-16 {
  position: absolute;
  width: 220px;
  top: 181px;
  left: 524px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000b2;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.loginpage .text-wrapper-17 {
  width: 214px;
  top: 237px;
  left: 529px;
  color: #000000b2;
  text-decoration: underline;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
  white-space: nowrap;
}

.loginpage .text-wrapper-18 {
  position: absolute;
  width: 215px;
  top: 296px;
  left: 522px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000b2;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
  text-decoration: underline;
}

.loginpage .text-wrapper-19 {
  width: 239px;
  top: 354px;
  left: 523px;
  color: #000000b2;
  text-decoration: underline;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
}

.loginpage .text-wrapper-20 {
  position: absolute;
  width: 333px;
  top: 353px;
  left: 1022px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000b2;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.loginpage .text-wrapper-21 {
  position: absolute;
  width: 115px;
  top: 296px;
  left: 1018px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000b2;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.loginpage .text-wrapper-22 {
  position: absolute;
  width: 166px;
  top: 181px;
  left: 1018px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000b2;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.loginpage .text-wrapper-23 {
  position: absolute;
  width: 98px;
  top: 237px;
  left: 1018px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000b2;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
  text-decoration: underline;
}

.loginpage .text-wrapper-24 {
  position: absolute;
  width: 82px;
  top: 66px;
  left: 1018px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
  white-space: nowrap;
}

.loginpage .text-wrapper-25 {
  position: absolute;
  width: 133px;
  top: 124px;
  left: 1018px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000b2;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.loginpage .text-wrapper-26 {
  position: absolute;
  width: 210px;
  top: 355px;
  left: 91px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000b2;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.loginpage .text-wrapper-27 {
  position: absolute;
  width: 242px;
  top: 412px;
  left: 91px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000b2;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.loginpage .text-wrapper-28 {
  position: absolute;
  width: 370px;
  top: 469px;
  left: 91px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000b2;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.loginpage .text-wrapper-29 {
  position: absolute;
  width: 97px;
  top: 66px;
  left: 91px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
  white-space: nowrap;
}

.loginpage .text-wrapper-30 {
  position: absolute;
  width: 142px;
  top: 124px;
  left: 91px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000b2;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.loginpage .text-wrapper-31 {
  position: absolute;
  width: 104px;
  top: 238px;
  left: 91px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000b2;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
  text-decoration: underline;
}

.loginpage .text-wrapper-32 {
  position: absolute;
  width: 104px;
  top: 181px;
  left: 91px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000b2;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.loginpage .text-wrapper-33 {
  position: absolute;
  width: 223px;
  top: 297px;
  left: 91px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000b2;
  font-size: 24px;
  text-align: right;
  letter-spacing: 0.48px;
  line-height: normal;
  text-decoration: underline;
}

.loginpage .overlap-5 {
  position: absolute;
  width: 1440px;
  height: 67px;
  top: 2108px;
  left: 0;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #00000021;
}

.loginpage .text-wrapper-34 {
  position: absolute;
  width: 35px;
  top: 23px;
  left: 72px;
  font-family: "Inter", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.loginpage .text-wrapper-35 {
  position: absolute;
  width: 69px;
  top: 23px;
  left: 111px;
  font-family: "Inter", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.loginpage .text-wrapper-36 {
  position: absolute;
  width: 47px;
  top: 23px;
  left: 210px;
  font-family: "Inter", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.loginpage .text-wrapper-37 {
  position: absolute;
  width: 40px;
  top: 23px;
  left: 287px;
  font-family: "Inter", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.loginpage .text-wrapper-38 {
  position: absolute;
  width: 44px;
  top: 23px;
  left: 1123px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.loginpage .support-resources {
  position: absolute;
  width: 130px;
  top: 23px;
  left: 1182px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.loginpage .text-wrapper-39 {
  position: absolute;
  width: 53px;
  top: 23px;
  left: 357px;
  font-family: "Inter", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.loginpage .text-wrapper-40 {
  position: absolute;
  width: 108px;
  top: 23px;
  left: 440px;
  font-family: "Inter", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.loginpage .element-px-globo-logo {
  height: 16px;
  top: 24px;
  left: 1010px;
  position: absolute;
  width: 17px;
  object-fit: cover;
}

.loginpage .text-wrapper-41 {
  position: absolute;
  width: 74px;
  top: 23px;
  left: 1034px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.loginpage .line-7 {
  position: absolute;
  width: 10px;
  height: 6px;
  top: 29px;
  left: 1316px;
}
