.navbar {
  z-index: 10;
  position: fixed;
  overflow:hidden;
  
  top: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #fff;
  width: 100%;
  height: 87px;
  left: 1px;
}
.navbar2 {
  margin-top: 4%;
  position: fixed;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #fff;
  width: 100%; /* Full width */
  height: 87px;
  z-index:10;
  overflow: scroll;
}
.logopic{
  padding-top: 5px;
  margin-left: 89px;
}
.box {
  width: 349px;
  height: 45px;
  flex-shrink: 0;
  margin-left: 549px;
  margin-top: -3%;
  fill: #fff;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.11);
  mix-blend-mode: darken;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
  mix-blend-mode: darken;
  background: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: 1px rgba(0, 0, 0, 0.11) solid;
}
.anywhere {
  
  margin-top: 14px;
  margin-left: 19px;
  color: black;
  font-size: 13px;
  font-family: Inter;
  font-weight: 600;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
}
.line1 {
  width: 1px;
  height: 22px;
  margin-top: -50px;
  margin-left: 93px;
  background: rgba(0, 0, 0, 0.5);
}
.anyweek {
  margin-top: -17px;
  margin-left: 111px;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.line2 {
  margin-top: -21px;
  margin-left: 190px;
  width: 1px;
  height: 22px;
  background: rgba(0, 0, 0, 0.5);
}
.addguests {
  margin-left: 205px;
  margin-top: -15px;
  color: #00000055;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.ellipse3 {
  width: 32px;
  height: 30px;
  background: linear-gradient(0deg, #ff385c 0%, #ff385c 100%),
    linear-gradient(0deg, #ff385c 0%, #ff385c 100%),
    linear-gradient(0deg, #ff385c 0%, #ff385c 100%),
    linear-gradient(0deg, #ff385c 0%, #ff385c 100%);
  border-radius: 9999px;
  margin-top: -23px;
  margin-left: 299px;
  display: flex;
  align-items: center;
}
.search{
  margin-top: 15px;
  margin-left: 8px;
  width: 100%; height: 100%; position: relative;
 }
 .search .Ellipse{
  width: 10px; 
  height: 10px; 
  left: -1,8px; 
  top: -1.8px;
   position: absolute;
    border-radius: 9999px; 
    border: 1.9px white solid;
 }
 .search .Line{
  width: 8px; height: 1px; left: 9px; top: 11.5px; position: absolute; border: 1.50px white solid; transform:rotate(45deg); background-color:white;
 }
.airbnbyourhome {
  position: fixed;
  margin-left: 1105px;
  margin-top: -2.5%;
  color:black;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.globe img {
position:fixed;
  width: 25px;
  height: 25px;
  margin-top: -2.5%;
  margin-left: 1235px;
}
.rectangle3 {
  position: fixed;
  margin-top: -3.2%;
  margin-left: 1281px;

  width: 82px;
  height: 43px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
}
.ellipse1 {
  position: fixed;
  margin-left: 1323px;
  margin-top: -2.8%;
  background: black;
  border-radius: 9999px;
  width: 34px;
  height: 32px;
  flex-shrink: 0;
  fill: #000;
}
.ellipse2 {
  position: fixed;
  margin-top: -3%;
  margin-left: 1344px;
  width: 100%;
  height: 100%;
  background: #ff385c;
  border-radius: 9999px;
  width: 19px;
  height: 19px;
  flex-shrink: 0;
}
.icon-container {
  position: fixed;
  top:12%;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 65%;
}


.icon-container img {
  width: 30px;
  height: 30px;
  justify-content: space-between;
  margin: 0 50px;
  margin-right: 1px;
  
}

.icon-container span {

  display: block;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}
.icon-container a {
  text-decoration: none;
  color: #000;
}
.ellipse5 {
position: fixed;
  margin-left: 1004px;
  margin-top: 5.5%;
  width: 100%;
  height: 100%;
  background: rgba(217, 217, 217, 0);
  border-radius: 9999px;
  border: 2px black solid;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  fill: rgba(217, 217, 217, 0);
  stroke-width: 1px;
  stroke: #000;
}
.line8 {
position: fixed;
  margin-left: 1022px;
  margin-top: 6.4%;
  width: 50px;
  height: 50px;
}
.rectangle5 {
  position: fixed;
  text-align: center;
  line-height: 43px;
  width: 87px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  background: rgba(217, 217, 217, 0);
  margin-left: 1070px;
  margin-top: 5.5%;
}
.rectangle6 {
  position: fixed;
  line-height: 43px;
  text-indent: 5px;
  margin-left: 1180px;
  margin-top: 5.5%;
  width: 225px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.11);
  background: rgba(217, 217, 217, 0);
}
.rectangle7 {
 position: fixed;
  margin-left: 1360px;
  margin-top: 6.3%;
  width: 34px;
  height: 22px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.2);
}
.image-row {
 
  display: flex;
  flex-direction: row;
  flex-shrink: 100px;
  justify-content: space-between;
  margin-right: 100px;
}
.image-row img {
  margin-top: 50%;
  width: 320px;
  height: 320px;
  border-radius: 20px;
}
.image-text-left {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  display: block;
  text-align: left;
  margin-top: 20px;
}
.image-text-right {
  display: block;
  text-align: right;
  margin-top: -85px;
}
.image-row a {
  color: black;
  text-decoration: none;
}
.textline2 {
  margin-top: 40px;
  color: rgba(0, 0, 0, 0.478);
  font-family: Inter;
  word-wrap: break-word;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 10;
  line-height: normal;
}
.textline3 {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.478);
  font-family: Inter;
  word-wrap: break-word;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 10;
  line-height: normal;
}
.textline4 {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  display: block;
  text-align: left;
  margin-top: 5px;
}
.textline5 {
  margin-top: 5px;
  margin-left: 60px;
  color: rgba(0, 0, 0, 0.707);
  font-family: Inter;
  word-wrap: break-word;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 10;
  line-height: normal;
}
.image-row1 {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 100px;
}
.image-row1 img {
  margin-top: 50px;
  width: 320px;
  height: 320px;
  border-radius: 20px;
}
.image-row1 a {
  color: black;
  text-decoration: none;
}

.logo {

  padding-top: 20px;
  margin-left: 5%; 
}




.icon-container img {
  width: 50px; 
  height: 50px; 
  margin: 0 5px; 
}


.image-row,
.image-row1 {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  margin: 20px auto; 
}

.image-row img,
.image-row1 img {
  width: 100%;
  max-width: 320px; 
  height: auto; 
  border-radius: 20px;
  margin-bottom: 20px; 
}

.textline4 {

  text-align: left;
  margin-top: 5px;
}

@media(max-width:947px){
  .navbar2{
  top:6%;
  }
  .box{
    margin-top:-5.5%;
    margin-left:25%;
  }
  .airbnbyourhome{
    margin-top: -3%;
    margin-left: 65%;
  }
  .globe img{
    margin-left:80%;
    margin-top:-3.5%;
  }
  .rectangle3{
    margin-left:85%;
    margin-top: -4.5%;
  }
  .ellipse1{
    margin-left: 89%;
    margin-top: -3.8%;
  }
  .ellipse2{
    margin-left: 91%;
    margin-top: -4%;
  }
  .icon-container img{
    width:25px;
    height:25px;
    margin: 0 20px;

  }
  .image-row1 img{
    margin-top: 40%;
  }
}
@media(max-width:880px){
  .logopic,.airbnbyourhome,.globe,.rectangle3,.ellipse1,.ellipse2{
    display: none;
  }
  .box{
    width:85%;
    margin-top: -1%;
    margin-left:5%;
  }
  .ellipse3{
    margin-left: 92%;
  }
}


@media (max-width: 649px) {
  .box {
  margin-top: -1.5%;
  }
  .image-row img,.image-row1 img{
    max-width: 100%;
  }
  .image-row a,.image-row1 a{
    margin-top: -15%;
  }
}
@media(max-width:380px){
  .navbar{
    height: 13%;
  }
  .navbar2{
    margin-top:10%;
  }
  .box{
    margin-top: -2%;
  }
  .ellipse3{
    margin-left: 88%;
  }
  .addguests{
    margin-left: 65%;
  }
  .line2{
    margin-left: 60%;
  }
  .image-row a,.image-row1 a{
    margin-top: -30%;
  }
  .image-row img,.image-row1 img{
    margin-top: 75%;
    max-width: 100%;
  }
  .icon-container{
    top:15%;
  }
}
